<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt Gen</title>
</head>

<body>
    <form id="index_form" action="/" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="activeTab" name="activeTab" value="{{ activeTab }}">

        <div class="tabs">
            <div class="tab" id="tabContextGeneration" data-tab="divContextGeneration">Gerador de conteúdo</div>
            <div class="tab" id="tabUnitTestGeneration" data-tab="divUnitTestGeneration">Gerador de teste unitário</div>
        </div>

        <div class="content" id="divContextGeneration">
            <h2 style="display: inline-block;">Gerador de conteúdo</h2>
            <b style="float: right; text-align: right;">User: {{ user}}</b>
            <br>
            <div id="div_general_context" class="form-load">
                <br>
                <label for="txt_prompt" style="color: black; font-weight: bold;">Pedido ao contexto:</label>
                <br>
                <textarea name="txt_prompt" id="txt_prompt" rows="3" cols="70"
                    class="txt-general-style">{{ txt_prompt }}</textarea>
                <br><br>
                <input type="checkbox" id="chk_include_context" name="chk_include_context" value="chk_include_context"
                    checked>
                <label for="chk_include_context" style="color: black; font-weight: bold;">Incluir contexto</label>
                <br>
                <div id="div_projects" class="form-box">
                    {% if projects|length > 0 %}
                    <label for="projects_slc">Projeto:</label>
                    <select name="projects_slc" id="projects_slc">
                        {% for project in projects %}
                        <option value="{{ project }}">{{ project }}</option>
                        {% endfor %}
                    </select>&nbsp;&nbsp;&nbsp;
                    {% else %}
                    <p id="load_message" style="font-weight: bold;">
                        Nenhum projeto encontrado. Clique no botão 'Gerenciar projetos' para adicionar projetos e
                        contextos.
                    </p>
                    {% endif %}
                    {% if contexts|length > 0 %}
                    <label for="contexts_slc">Contexto:</label>
                    <select name="contexts_slc" id="contexts_slc">
                        {% for context in contexts %}
                        <option value="{{ context }}">{{ context }}</option>
                        {% endfor %}
                    </select>&nbsp;&nbsp;&nbsp;
                    {% else %}
                    {% if projects|length > 0 %}
                    <label id="load_message" style="font-weight: bold;">
                        Nada contexto encontrado. Clique no botão 'Gerenciar projetos' para adicionar projetos e
                        contextos.
                    </label>
                    {% endif %}
                    {% endif %}
                    <br><br>
                    <button type="submit" name="manage_contexts_btn" class="btn-build-style">Gerenciar contextos
                    </button>&nbsp;&nbsp;&nbsp;
                    <button type="submit" name="update_contexts_btn" class="btn-build-style">Atualizar contextos
                    </button>
                </div>
                <br><br>
                <button type="submit" name="load_context_step_btn" class="btn-load-style">Adicionar
                    passo</button>&nbsp;&nbsp;&nbsp;
                <button type="submit" name="clear_context" id="clear_context" value="Limpar" class="btn-clear-style"
                    style="display: none;">
                    <br>
            </div>
            <br><br>
            &nbsp;&nbsp;
            <button type="submit" name="load_prompts_btn" class="btn-load-style">Carregar
                estória</button>&nbsp;&nbsp;&nbsp;
            {% if loaded_prompts|length > 0 %}
            <button type="submit" name="reset" class="btn-clear-style">Limpar</button>&nbsp;&nbsp;&nbsp;
            <label style="color: white; font-weight: bold;" for="model_name">Modelo:</label>
            <select name="model_name">
                <option value="gemini-1.5-flash-001">Gemini-1.5-flash-001</option>
                <option value="gemini-1.5-pro-001">Gemini-1.5-pro-001</option>
                <option value="gemini-experimental">Gemini-experimental</option>
                <option value="gemini-1.0-pro-002">Gemini-1.0-pro-002</option>
                <input type="hidden" id="choosen_model_name" name="choosen_model_name" value="{{ choosen_model_name }}">
            </select>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="regenerate_btn" class="btn-proceed-style">Gerar</button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="view" class="btn-general-style">Visalizar</button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="save" class="btn-general-style">Salvar</button>
            {% endif %}
            <input type="file" id="load_prompts_file" accept=".json" style="display: none;"></input>
            <input type="hidden" id="choosen_project" name="choosen_project" value="{{ project }}">
            <input type="hidden" id="prompt_history_json" name="prompt_history_json"></input>
            <input type="hidden" id="prompts_filename" name="prompts_filename"></input>
            <input type="hidden" id="clicked_button" name="clicked_button" value="">
            <input type="hidden" id="step_to_delete" name="step_to_delete" value="">
            {% if loaded_prompts|length > 0 %}
            <h2>Pedidos e contextos carregados</h2>
            <div id="div_context_steps" class="form-list">
                <table id="step_lst">
                    <thead>
                        <tr>
                            <th>Passo</th>
                            <th>Pedido</th>
                            <th>Projeto</th>
                            <th>Contexto</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prompt, project_name, filename in loaded_prompts %}
                        <tr>
                            <td style="text-align: center;">{{ loop.index }}</td>
                            <td>&nbsp;&nbsp;&nbsp;{{ prompt[:50] }}&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;{{ project_name }}&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;{{ filename }}&nbsp;&nbsp;&nbsp;</td>
                            <td style="text-align: center; height: 16px; width: 16px">
                                <img class="delete-icon" src="static/trash-bin.png"
                                    style="width: 20px; height: 20px; object-fit: cover;" value="{{ loop.index }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        <div class="content" id="divUnitTestGeneration">
            <h2 style="display: inline-block;">Gerador de teste unitário em lote</h2>
            <div id="div_test-unit" class="form-box">
                {% if projects_tests|length > 0 %}
                <label for="projects_tests_slc">Projeto:</label>
                <select name="projects_tests_slc" id="projects_tests_slc">
                    {% for project_test in projects_tests %}
                    <option value="{{ project_test }}">{{ project_test }}</option>
                    {% endfor %}
                </select>
                <br>
                {% else %}
                <p id="load_message_test_unit" style="font-weight: bold;">
                    Nenhum projeto encontrado. Clique no botão "Atualizar projetos" e se não houver projetos,
                    faça o upload do seu projeto diretamente no GCS {{ test_unit_bucket }}
                </p>
                {% endif %}
                <br>
                <button type="submit" name="generate_unit_tests_btn" class="btn-build-style">Gerar testes unitários</button>&nbsp;&nbsp;&nbsp;
                <button type="submit" name="update_unit_tests_btn" class="btn-build-style">Atualizar projetos</button>
            </div>
        </div>
    </form>

    <script>
        const form = document.querySelector("form");
        const clicked_button = document.getElementById("clicked_button");
        const choosen_project = document.getElementById("choosen_project")

        // projects_slc doesn't exist if there are no projects
        const chk_include_context = document.getElementById("chk_include_context")
        chk_include_context.addEventListener("change", function () {
            console.log("chk_include_context");
            if (chk_include_context.checked)
                document.getElementById("div_projects").style.display = "block";
            else
                document.getElementById("div_projects").style.display = "none";
        });

        const projects_slc = document.getElementById("projects_slc");
        if (projects_slc != null) {
            projects_slc.value = choosen_project.value;
            projects_slc.addEventListener("change", function () {
                console.log("projects_slc");
                if (choosen_project.value == this.value) return;
                choosen_project.value == this.value;
                clicked_button.value = "projects_slc";
                form.submit();
            });
        }
        /*const contexts_slc = document.getElementById("contexts_slc");
        contexts_slc.addEventListener("change", function () {
            console.log("contexts_slc");
            clicked_button.value = "contexts_slc";
            form.submit();           
        });*/
        const step_lst = document.getElementById("step_lst");
        if (step_lst != null) {
            step_lst.addEventListener("click", function (event) {
                console.log(event.target);
                if (event.target.classList.contains("delete-icon")) {
                    const step_num = event.target.getAttribute("value");
                    console.log(step_num);
                    response = confirm("Tem certeza que deseja deletar o passo \"" + step_num + "\"?");
                    if (!response) return;
                    clicked_button.value = "delete_step_btn";
                    document.getElementById("step_to_delete").value = step_num;
                    form.submit();
                }
            });
        }

        var choosenModel = document.getElementById("choosen_model_name");
        if (choosenModel != null && choosenModel.value != "") {
            console.log("MODEL NAME: " + choosenModel.value);
            const selectElement = document.querySelector("select[name=model_name]");
            for (const option of selectElement.options) {
                if (option.value === choosenModel.value) {
                    option.selected = true;
                    break;
                }
            }
        }
        const load_prompts_file = document.getElementById("load_prompts_file");
        load_prompts_file.addEventListener("change", function () {
            if (this.files.length > 0) {
                const file = this.files[0];
                console.log("CHOOSEN " + clicked_button.value + " FILE: " + file.name + " type: " + file.type);
                const reader = new FileReader();
                reader.onload = function () {
                    document.getElementById("prompt_history_json").value = reader.result;
                    form.submit();
                };
                reader.readAsText(file);
            }
        });

        // Adiciona um ouvinte de evento ao formulário
        form.addEventListener("submit", function (event) {
            // Evita que o formulário seja enviado
            event.preventDefault();
            // Obtém o botão que foi pressionado
            clicked_button.value = event.submitter.name;
            console.log("CLICKED BTN: " + clicked_button.value);
            if (clicked_button.value == "load_context_step_btn") {
                if (document.getElementById("txt_prompt").value.trim() == "") {
                    alert("Forneça um pedido ao contexto!");
                    return;
                }
                if (!chk_include_context.checked) {
                    clicked_button.value = "load_context_step_btn_nofile"
                }
            }
            else if (clicked_button.value == "load_prompts_btn") {
                load_prompts_file.click();
                return;
            }
            else if (clicked_button.value == "save") {
                const filename = prompt("Digite o caminho do arquivo:");
                if (!filename) return;
                if (filename.trim() == "") {
                    alert("Entre um nome de arquivo válido!");
                    return;
                }
                document.getElementById("prompts_filename").value = filename.trim();
            }
            this.submit();
        });


        /*const loadGcsFileButton = document.querySelector("input[name=load_gcs_file]");
        loadGcsFileButton.addEventListener("click", function () {
            // Obtém o nome do bucket e do arquivo do GCS
            const bucketName = prompt("Digite o nome do bucket:");
            const fileName = prompt("Digite o nome do arquivo:");

            // Verifica se o nome do bucket e do arquivo foram fornecidos
            if (!bucketName || !fileName) {
                alert("Por favor, forneça o nome do bucket e do arquivo!");
                return;
            }

            // Cria um objeto de solicitação para obter o arquivo do GCS
            const request = new XMLHttpRequest();
            request.open("GET", `https://storage.googleapis.com/${bucketName}/${fileName}`);

            // Adiciona um ouvinte de evento para quando a solicitação for concluída
            request.onload = function () {
                // Verifica se a solicitação foi bem-sucedida
                if (request.status === 200) {
                    // Obtém o texto do arquivo
                    const fileContent = request.responseText;

                    // Define o valor do campo de entrada oculto "textfile_content" para o conteúdo do arquivo
                    document.querySelector("input[name=textfile_content]").value = fileContent;

                    // Envia o formulário
                    document.querySelector("form").submit();
                } else {
                    // Exibe uma mensagem de erro
                    alert("Não foi possível obter o arquivo do GCS!");
                }
            };

            // Envia a solicitação
            request.send();
        });*/

        // seleciuonar o tab ativo
        const tabs = document.querySelectorAll('.tab');
        // Get all content elements
        const contents = document.querySelectorAll('.content');
        // Add click event listener to each tab
        tabs.forEach(tab => {
            tab.addEventListener('click', function () {
                // Remove active class from all tabs
                tabs.forEach(t => t.classList.remove('active'));
                // Add active class to the clicked tab
                this.classList.add('active');
                // Hide all content elements
                contents.forEach(c => c.classList.remove('active'));
                // Show the content element corresponding to the clicked tab
                document.getElementById(this.dataset.tab).classList.add('active');
                document.getElementById("activeTab").value = this.id;
            });
        });

        // select the tab
        document.getElementById(document.getElementById("activeTab").value).click();

    </script>
</body>


{% if any_error == "show_error_is_empty" %}
<script>
    alert("Por favor, digite um pedido e/ou selecione um arquivo!");
</script>
{% endif %}

{% if any_error == "show_error_mixed_contexts" %}
<script>
    alert("Contexto textual e midia não podem ser misturados!\nEscolha somente um deles de cada vez");
</script>
{% endif %}

{% if any_error == "show_error_repeated" %}
<script>
    alert("Pedido e arquivo já carregados. Entre novo pedido ou arquivo!");
</script>
{% endif %}

{% if any_error == "show_error_no_prompts" %}
<script>
    alert("Não há pedidos a processar!");
</script>
{% endif %}

{% if any_error == "show_error_no_prompts_to_save" %}
<script>
    alert("Não há pedidos a salvar!");
</script>
{% endif %}

{% if any_error == "show_error_no_gcs_file" %}
<script>
    alert("Nenhuma midia encontrada nos buckets gcs!");
</script>
{% endif %}

{% if any_error == "show_error_json_parser" %}
<script>
    alert("Error ao parsear o json. Confirme o formato!");
</script>
{% endif %}

</html>