<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt Gen</title>
</head>

<body>
    <h1 style="display: inline-block;">Gerador de conteúdo para modelos de linguagem</h1>
    <b style="float: right; text-align: right;">User: {{ user}}</b>
    <br>
    <form id="index_form" action="/" method="POST" enctype="multipart/form-data">
        <div class="form-load">
            <br>
            <label style="color: black; font-weight: bold;" for="prompt">Pedido ao contexto:</label>
            <br>
            <textarea name="prompt" id="prompt" rows="3" cols="70" class="txt-general-style"
                style="width: 100%;"></textarea>
            <br><br>
            {% if projects|length > 0 %}
            <label for="projects_slc">Projeto:</label>
            <select name="projects_slc" id="projects_slc">
                {% for project in projects %}
                <option value="{{ project }}">{{ project }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;
            {% else %}
            <p id="load_message" style="font-weight: bold;">
                Nenhum projeto encontrado. Clique no botão 'Gerenciar projetos' para adicionar projetos e contextos.</p>
            {% endif %}
            {% if contexts|length > 0 %}
            <label for="contexts_slc">Contexto:</label>
            <select name="contexts_slc" id="contexts_slc">
                {% for context in contexts %}
                <option value="{{ context }}">{{ context }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;
            {% else %}
            {% if projects|length > 0 %}
            <p id="load_message" style="font-weight: bold;">
            Nada contexto encontrado. Clique no botão 'Gerenciar projetos' para adicionar projetos e contextos.</p>
            {% endif %}
            {% endif %}
            <br><br>
            <button type="submit" name="manage_contexts_btn" class="btn-build-style">Gerenciar contextos</button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="update_contexts_btn" class="btn-build-style">Atualizar contextos</button><br><br>
            <button type="submit" name="load_context_step_btn" class="btn-load-style">Adicionar passo</button>&nbsp;&nbsp;&nbsp;
            <input type="submit" name="clear_context" id="clear_context" value="Limpar" class="btn-clear-style"
                style="display: none;">
            <br>
        </div>
        <br><br>
        &nbsp;&nbsp;
        <button type="submit" name="load_prompts_btn" class="btn-load-style">Carregar estória</button>&nbsp;&nbsp;&nbsp;
        {% if loaded_prompts|length > 0 %}
        <button type="submit" name="reset" class="btn-clear-style">Limpar</button>&nbsp;&nbsp;&nbsp;
        <label style="color: white; font-weight: bold;" for="model_name">Modelo:</label>
        <select name="model_name">
            <option value="gemini-1.5-pro-preview-0409">Gemini-1.5-pro-preview-0409</option>
            <option value="gemini-1.0-pro-002">Gemini-1.0-pro-002</option>
            <option value="gemini-1.0-pro-001">Gemini-1.0-pro-001</option>
            <!--option value="gemini-1.5-pro-preview-0215">Gemini-1.5-pro-preview-0215</option-->
            <input type="hidden" id="choosen_model_name" name="choosen_model_name" value="{{ choosen_model_name }}">
        </select>&nbsp;&nbsp;&nbsp;
        <button type="submit" name="generate" class="btn-proceed-style">Gerar</button>&nbsp;&nbsp;&nbsp;
        <button type="submit" name="view" class="btn-general-style">Visalizar</button>&nbsp;&nbsp;&nbsp;
        <button type="submit" name="save" class="btn-general-style">Salvar</button>
        {% endif %}
        <input type="hidden" id="choosen_project" name="choosen_project" value="{{ project }}">
        <input type="hidden" id="prompt_history_json" name="prompt_history_json"></input>
        <input type="hidden" id="prompts_filename" name="prompts_filename"></input>
        <input type="file" id="load_prompts_file" accept=".json" style="display: none;"></input>
        <input type="hidden" id="clicked_button" name="clicked_button" value="">
    </form>
    {% if loaded_prompts|length > 0 %}
    <h2>Pedidos e contextos carregados</h2>
    <div class="form-list">
        <table>
            <thead>
                <tr>
                    <th>Passo</th>
                    <th>Pedido</th>
                    <th>Projeto</th>
                    <th>Contexto</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for prompt, project_name, filename in loaded_prompts %}
                <tr>
                    <td style="text-align: center;">{{ loop.index }}</td>
                    <td>&nbsp;&nbsp;&nbsp;{{ prompt[:50] }}&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;{{ project_name }}&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;{{ filename }}&nbsp;&nbsp;&nbsp;</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <script>
        const form = document.querySelector("form");
        const clicked_button = document.getElementById("clicked_button");
        const choosen_project = document.getElementById("choosen_project")
        
        // projects_slc doesn't exist if there are no projects
        const projects_slc = document.getElementById("projects_slc");
        if (projects_slc != null){
            projects_slc.value = choosen_project.value;
            projects_slc.addEventListener("change", function () {
                console.log("projects_slc");
                if (choosen_project.value == this.value) return;
                choosen_project.value == this.value;
                clicked_button.value = "projects_slc";
                form.submit();
            });
        }
        /*const contexts_slc = document.getElementById("contexts_slc");
        contexts_slc.addEventListener("change", function () {
            console.log("contexts_slc");
            clicked_button.value = "contexts_slc";
            form.submit();           
        });*/


        var choosenModel = document.getElementById("choosen_model_name");
        if (choosenModel != null && choosenModel.value != "") {
            console.log("MODEL NAME: " + choosenModel.value);
            const selectElement = document.querySelector("select[name=model_name]");
            for (const option of selectElement.options) {
                if (option.value === choosenModel.value) {
                    option.selected = true;
                    break;
                }
            }
        }
        const load_prompts_file = document.getElementById("load_prompts_file");
        load_prompts_file.addEventListener("change", function () {
            if (this.files.length > 0) {
                const file = this.files[0];
                console.log("CHOOSEN " + clicked_button.value + " FILE: " + file.name + " type: " + file.type);
                const reader = new FileReader();
                reader.onload = function () {
                    document.getElementById("prompt_history_json").value = reader.result;
                    form.submit();
                };
                reader.readAsText(file);
            }
        });

        // Adiciona um ouvinte de evento ao formulário
        form.addEventListener("submit", function (event) {
            // Evita que o formulário seja enviado
            event.preventDefault();
            // Obtém o botão que foi pressionado
            clicked_button.value = event.submitter.name;
            console.log("CLICKED BTN: " + clicked_button.value);
            if (clicked_button.value == "load_context_step_btn") {
                if (document.getElementById("prompt").value.trim() == "") {
                    alert("Forneça um pedido ao contexto!");
                    return;
                }
            }
            else if (clicked_button.value == "load_prompts_btn") {
                load_prompts_file.click();
                return;
            }
            else if (clicked_button.value == "save") {
                const filename = prompt("Digite o caminho do arquivo:");
                if (!filename) return;
                if (filename.trim() == "") {
                    alert("Entre um nome de arquivo válido!");
                    return;
                }
                document.getElementById("prompts_filename").value = filename.trim();
            }
            this.submit();
        });


        /*const loadGcsFileButton = document.querySelector("input[name=load_gcs_file]");
        loadGcsFileButton.addEventListener("click", function () {
            // Obtém o nome do bucket e do arquivo do GCS
            const bucketName = prompt("Digite o nome do bucket:");
            const fileName = prompt("Digite o nome do arquivo:");

            // Verifica se o nome do bucket e do arquivo foram fornecidos
            if (!bucketName || !fileName) {
                alert("Por favor, forneça o nome do bucket e do arquivo!");
                return;
            }

            // Cria um objeto de solicitação para obter o arquivo do GCS
            const request = new XMLHttpRequest();
            request.open("GET", `https://storage.googleapis.com/${bucketName}/${fileName}`);

            // Adiciona um ouvinte de evento para quando a solicitação for concluída
            request.onload = function () {
                // Verifica se a solicitação foi bem-sucedida
                if (request.status === 200) {
                    // Obtém o texto do arquivo
                    const fileContent = request.responseText;

                    // Define o valor do campo de entrada oculto "textfile_content" para o conteúdo do arquivo
                    document.querySelector("input[name=textfile_content]").value = fileContent;

                    // Envia o formulário
                    document.querySelector("form").submit();
                } else {
                    // Exibe uma mensagem de erro
                    alert("Não foi possível obter o arquivo do GCS!");
                }
            };

            // Envia a solicitação
            request.send();
        });*/

    </script>
</body>


{% if any_error == "show_error_is_empty" %}
<script>
    alert("Por favor, digite um pedido e/ou selecione um arquivo!");
</script>
{% endif %}

{% if any_error == "show_error_mixed_contexts" %}
<script>
    alert("Contexto textual e midia não podem ser misturados!\nEscolha somente um deles de cada vez");
</script>
{% endif %}

{% if any_error == "show_error_repeated" %}
<script>
    alert("Pedido e arquivo já carregados. Entre novo pedido ou arquivo!");
</script>
{% endif %}

{% if any_error == "show_error_no_prompts" %}
<script>
    alert("Não há pedidos a processar!");
</script>
{% endif %}

{% if any_error == "show_error_no_prompts_to_save" %}
<script>
    alert("Não há pedidos a salvar!");
</script>
{% endif %}

{% if any_error == "show_error_no_gcs_file" %}
<script>
    alert("Nenhuma midia encontrada nos buckets gcs!");
</script>
{% endif %}

</html>