<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processando...</title>
</head>

<body>
    <h1>Processando...</h1>

    {% if target_method == "regenerate" %}
    <p style="color: white; font-weight: bold;">Processando a geração usando o {{ model_name }}. AGUARDE ...</p>
    <form action="/" method="POST" style="display: inline-block;">
        <input type="hidden" name="model_name" value="{{ model_name }}">
        <input type="hidden" id="clicked_button" name="clicked_button" value="regenerate">
    </form>
    {% endif %}

    {% if target_method == "loadContextsBucket" %}
    <p style="color: white; font-weight: bold;">Lendo os projetos e arquivos de contexto do bucket{{ bucket}} do GCS.
        AGUARDE ....</p>
    <form action="/" method="POST" style="display: inline-block;">
        <input type="hidden" name="model_name" value="{{ model_name }}">
        <input type="hidden" name="txt_prompt" value="{{ txt_prompt }}">
        <input type="hidden" id="clicked_button" name="clicked_button" value="loadContextsBucket">
    </form>
    {% endif %}

    {% if target_method == "update_code_files_btn" %}
    <p style="color: white; font-weight: bold;">Lendo os projetos e arquivos de contexto do bucket{{ bucket}} do GCS. AGUARDE ....</p>
    <form action="/" method="POST" style="display: inline-block;">
        <input type="hidden" name="model_name" value="{{ model_name }}">
        <input type="hidden" name="txt_prompt" value="{{ txt_prompt }}">
        <input type="hidden" id="clicked_button" name="clicked_button" value="loadCodeBucketFolders">
    </form>
    {% endif %}

    {% if target_method == "generate_unit_tests_1x_btn" %}
    <p style="color: white; font-weight: bold;">Gerando casos de teste unitário para o projeto "{{ folder }}" para linguagem ".{{ prog_lang }}" de uma vez. AGUARDE ....</p>
    <form action="/" method="POST" style="display: inline-block;">
        <input type="hidden" name="model_name" value="{{ model_name }}">
        <input type="hidden" name="projects_code_slc" value="{{ folder }}">
        <input type="hidden" name="prog_lang_exts_slc" value="{{ prog_lang }}">
        <input type="hidden" id="clicked_button" name="clicked_button" value="show_generate_unit_tests_1x_btn">
    </form>
    {% endif %}

    {% if target_method == "generate_unit_tests_1a1_btn" %}
    <p style="color: white; font-weight: bold;">Gerando casos de teste unitário para o projeto "{{ folder }}" para linguagem ".{{ prog_lang }}", arquivo por arquivo. AGUARDE ....</p>
    <form action="/" method="POST" style="display: inline-block;">
        <input type="hidden" name="model_name" value="{{ model_name }}">
        <input type="hidden" name="projects_code_slc" value="{{ folder }}">
        <input type="hidden" name="prog_lang_exts_slc" value="{{ prog_lang }}">
        <input type="hidden" id="clicked_button" name="clicked_button" value="show_generate_unit_tests_1a1_btn">
    </form>
    {% endif %}

    {% if target_method == "generate_save_unit_tests_1a1_btn" %}
    <p style="color: white; font-weight: bold;">Gerando casos de teste unitário para o projeto "{{ folder }}" para linguagem ".{{ prog_lang }}", arquivo por arquivo e salvando. AGUARDE ....</p>
    <form action="/" method="POST" style="display: inline-block;">
        <input type="hidden" name="model_name" value="{{ model_name }}">
        <input type="hidden" name="projects_code_slc" value="{{ folder }}">
        <input type="hidden" name="prog_lang_exts_slc" value="{{ prog_lang }}">
        <input type="hidden" id="clicked_button" name="clicked_button" value="exec_generate_save_unit_tests_1a1_btn">
    </form>
    {% endif %}

</body>

<script>
    window.onload = function () {
        document.querySelector("form").submit();
    };
</script>

</html>