<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processando...</title>
</head>

<body>
    <h1>Processando...</h1>

    {% if method == "regenerate" %}
        <p style="color: white; font-weight: bold;">Processando sua solicitação.    AGUARDE ...</p>
        <form action="/" method="POST" style="display: inline-block;">
            <input type="hidden" name="model_name" value="{{ model_name }}">
            <input type="hidden" id="clicked_button" name="clicked_button" value="regenerate">
        </form>
    {% endif %}

    {% if method == "loadContextsBucket" %}
        <p style="color: white; font-weight: bold;">Lendo os projetos e arquivos de contexto do bucket{{ bucket}} do GCS.    AGUARDE ....</p>
        <form action="/" method="POST" style="display: inline-block;">
            <input type="hidden" name="model_name" value="{{ model_name }}">
            <input type="hidden" id="clicked_button" name="clicked_button" value="loadContextsBucket" >
        </form>
    {% endif %}

</body>

<script>
    window.onload = function () {
        document.querySelector("form").submit();
    };
</script>

</html>